Weather Data Prediction

# # df.head()       # First 5 rows
# df.tail()       # Last 5 rows
# df.info()       # Summary
# df.describe()   # Stats
# df.shape        # Rows, Columns
# df.columns      # Column names

In [1]:
import numpy as np

import pandas as pd

In [2]:
weather_df=pd.read_csv("weather_2012.csv")

In [3]:
print("Shape :", weather_df.shape)
print(weather_df.index)
print(weather_df.columns)

Shape : (8784, 8)
RangeIndex(start=0, stop=8784, step=1)
Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [4]:
print(weather_df.info())
# print(weather_df.head(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   object
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB
None

In [5]:


weather_df['Date/Time'].head()

0    2012-01-01 00:00:00
1    2012-01-01 01:00:00
2    2012-01-01 02:00:00
3    2012-01-01 03:00:00
4    2012-01-01 04:00:00
Name: Date/Time, dtype: object

In [6]:
# print(weather_df.head())
# print(weather_df.tail())
# print(weather_df.info())

print(weather_df['Weather'],type(weather_df['Weather']))

0                        Fog
1                        Fog
2       Freezing Drizzle,Fog
3       Freezing Drizzle,Fog
4                        Fog
                ...
8779                    Snow
8780                    Snow
8781                    Snow
8782                    Snow
8783                    Snow
Name: Weather, Length: 8784, dtype: object <class 'pandas.core.series.Series'>

Covert the data type for the Attributes

In [7]:
weather_df['Date/Time']=pd.to_datetime(weather_df['Date/Time'],errors='coerce')

# weather_df['Weather']

In [8]:
weather_df.info()

weather_df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   datetime64[ns]
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,Fog

# Print a Unique values in a attributes 
1. unique() apply over a specific attributes only

In [9]:
weather_df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

Assigment1 : Find uniue Wind Speed values in the record

In [10]:
# weather_df.info()


# print(weather_df['Wind Spd (km/h)'].unique(), type(weather_df['Wind Spd (km/h)'].unique()))
weather_df['Wind Spd (km/h)'].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2])

# how Many Unique Values are thir in the Unique se can use 

1. len() 
2. nunique()

In [11]:
print(len(weather_df['Wind Spd (km/h)'].unique()))

print(weather_df['Wind Spd (km/h)'].nunique())

34
34

# Get the Unique values with no of Occurance
1. Only get Desc Order
2. Null is Excluded

3. Syntex  df['Col'].value_counts[]

In [12]:
# print(weather_df['Weather'].value_counts())

# if you want to print or fetch any specific Column so for that we just we the column index name from 0 ...n

print(weather_df['Weather'].value_counts()[2])

1728

/tmp/ipykernel_8530/1784764335.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(weather_df['Weather'].value_counts()[2])

# Assignment 3 & 4

1. FInd the no of times when the weather was exactly clear 

2. Find the number of times when the Wind Speed was exactly 4 KM

🔍 To get just the count for wind speed = 4:

df['Wind Spd (km/h)'].value_counts().get(4, 0)
🧠 Explanation:
.value_counts() → Counts each unique value in the column.

.get(4, 0) → Tries to get the count for wind speed = 4.

If 4 is not found, it returns 0 instead of an error.


1. in .get(the_value_that_we_are_searching, if-we-do't-get-return-0)

In [13]:
print(weather_df['Weather'].value_counts().get('Clear',0))

print(weather_df['Wind Spd (km/h)'].value_counts().get(4,'NO'))
print(weather_df['Wind Spd (km/h)'].value_counts().get(10000001010101010,'NO'))

1326
474
NO