In [2]:
import pandas as pd

In [3]:
ls=[1,2,3,1,3]
print(type(ls))
ls.append(134)
ls.extend([1,2,67,69])
ls.pop()
print(ls[5::-2])
for i in ls:
  print(i)

print(ls)

<class 'list'>
[134, 1, 2]
1
2
3
1
3
134
1
2
67
[1, 2, 3, 1, 3, 134, 1, 2, 67]

# ***Dictionary Syntex => dict={key(any Data Type):values(any Data tyopes)}***

In [4]:
dict ={"DEBAJIT":103,"Pal":"Hello World"}
print(dict)
print(dict.get("DEBAJIT"))
print(dict["Pal"]) # we cannot call a dict list etc using () we use [] for print any data


# Adding data
dict["Subha"]=6910
dict[1]=100.6969
# update the data
dict["Subha"]=1010

# pop the data
dict[2]="dummy"
dict.pop(2) #using key we delect the key value pair
dict[3]="dummy2"
dict.popitem() #remove last inserted value



print(dict)

{'DEBAJIT': 103, 'Pal': 'Hello World'}
103
Hello World
{'DEBAJIT': 103, 'Pal': 'Hello World', 'Subha': 1010, 1: 100.6969}

In [5]:
# looping
for key in dict:
  print(key, "-->", dict[key] )

DEBAJIT --> 103
Pal --> Hello World
Subha --> 1010
1 --> 100.6969

In [6]:
# new list in a dict
dict={"name":["Debajit","Samanta","PAl"] ,"age":[23,22,20]}
print(dict)
print(dict["name"][1::]) #sliceing in values over key
dict["key"]=0
print(dict)


dict["key"]+=100
dict["key"]+=112


# define a empty key for future Data add means values add

dict['Country']={}

dict["Country"]=["India","USA","Germany"]



# define a new empty dict
dict123={}
print(dict123)
print(dict)

{'name': ['Debajit', 'Samanta', 'PAl'], 'age': [23, 22, 20]}
['Samanta', 'PAl']
{'name': ['Debajit', 'Samanta', 'PAl'], 'age': [23, 22, 20], 'key': 0}
{}
{'name': ['Debajit', 'Samanta', 'PAl'], 'age': [23, 22, 20], 'key': 212, 'Country': ['India', 'USA', 'Germany']}

# ***`Set & Booleans `***

Set containg only ***`unique values`*** ***sets do not support indexing or slicing***  Identify by {} And

In [7]:
set_data={1,2,3,1,23,3}

set_data.add(69)
print(set_data)


set_data.remove(69)
print(set_data)

set_data.pop()
print(set_data)

# print(set_data[1::])

# as set doesnot support also sliceing or sorting for best possible output we need to do
# the convert into in a List
new_list=list(set_data)
print(new_list)

{1, 2, 3, 69, 23}
{1, 2, 3, 23}
{2, 3, 23}
[2, 3, 23]

***Tuples --> identify by ()***



*   `Order Format`
*   `Duplicate & ()`
* `  Sliceing and Indexing is their `

In [8]:
# Tuples  -->duplicate Values , but indexing , differnent typles of Data Types can access
my_tupl=("Hello",123,1,23)
print(my_tupl)
print(my_tupl[0::+3])
print(my_tupl[0])
mylist=list(my_tupl)
print(mylist)

('Hello', 123, 1, 23)
('Hello', 23)
Hello
['Hello', 123, 1, 23]

# `***Condition Statement ***`

In [ ]:
str1=int(input())
if type(str1)==str:
  print(True)
elif type(str1)==int:
  print("Int type")
else :
  print(False)

In [ ]:
# check range for loop
str1=str(input())
len_str1=len(str1)
for i in range (0,len_str1,+1):
  print(str1[i],"-->","This is New Data ")

Data ENgineering
D --> This is New Data
a --> This is New Data
t --> This is New Data
a --> This is New Data
  --> This is New Data
E --> This is New Data
N --> This is New Data
g --> This is New Data
i --> This is New Data
n --> This is New Data
e --> This is New Data
e --> This is New Data
r --> This is New Data
i --> This is New Data
n --> This is New Data
g --> This is New Data
  --> This is New Data

In [1]:
# Loop Statement
# for look even and odd


list1=[1,2,3,4,5,6,7,8,9,0]

for check_odd_even in list1:
  if(check_odd_even%2==0):
    # print(check_odd_even,"Is a Even No ")
    print(f" {check_odd_even} it is a Even no")
  elif (check_odd_even%2!=0):
    print(f" {check_odd_even} it is a Odd no")
    # f "  {}" here this f is called string formatting or f string

 1 it is a Odd no
 2 it is a Even no
 3 it is a Odd no
 4 it is a Even no
 5 it is a Odd no
 6 it is a Even no
 7 it is a Odd no
 8 it is a Even no
 9 it is a Odd no
 0 it is a Even no

# ***Intermediatory Python Questions ***

```
# This is formatted as code
```

In [ ]:
# Packages

import math as  mt
mt.sqrt(5)

2.23606797749979

In [ ]:
# for  Concatinate we use + sign
name=["DEBAJIT","RAM","Shayam"]
# add these data in name2 Data center

# **Try and Except --> It's a way to handle errors during program execution without crashing the program. for an example if any error is their then it just run the except: part not terminate the progrum from their **

In [ ]:
try :
  x=10 / 0
except ZeroDivisionError:
  print("Error for data ")

print("Hello World This time i am out from try and exception ")

Error for data
Hello World This time i am out from try and exception