In [38]:
import pandas as pd
import numpy as np
weather_df=pd.read_csv("weather_2012.csv")

# Pivot Table in Pandas

A **pivot table** is a data summarization tool used to reorganize and aggregate data, which is extremely useful for analyzing large datasets.

## Creating a Pivot Table in Pandas

To create a pivot table in Pandas, we use the `pivot_table()` function.

### Syntax:
```python
pandas.pivot_table(data, 
                   values=None, 
                   index=None, 
                   columns=None, 
                   aggfunc='mean', 
                   fill_value=None, 
                   margins=False, 
                   margins_name='All')

In [39]:
data={
     'A': ['foo','foo','foo','bar','bar','bar'],
     'B': ['one','one','two','two','one','one'],
     'C': ['x','y','x','y','x','y'],
     'D': [1,3,2,5,4,1]
     }
df=pd.DataFrame(data)

# print(df.describe())
print(df)

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [40]:
#pivot table mainly do some kind of aggregate Operation  top of the table that is the use for the pivot table 
pivot_df = pd.pivot_table(
    df,
    values='D',
    index='A',
    columns='C',
    aggfunc=np.sum
)
print(pivot_df)

C    x  y
A
bar  4  6
foo  3  3

C:\Users\mrshu\AppData\Local\Temp\ipykernel_2096\2624656864.py:2: FutureWarning: The provided callable <function sum at 0x0000021D5E5EC5E0> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_df = pd.pivot_table(

what is mean temp recorded by month

In [41]:
# print(weather_df['Weather'])
# mean_temp_df=pd.pivot_table(weather_df,
#                             values='Temp (C)',
#                             index=weather_df['Date/Time'].dt.month,
#                          #    dt.month is date and time operation in pandas one type od specific function 
#                          aggfunc=np.mean

#                             )
weather_df['Date/Time']=pd.to_datetime(weather_df['Date/Time'])
# need to convert it from a series to a date time column 

weather_df['Month'] = weather_df['Date/Time'].dt.month_name()

mean_temp_df = pd.pivot_table(
    weather_df,
    values='Temp (C)',
    index='Month',              # Use the new column name, not a Series
    aggfunc="mean")

print(mean_temp_df)

            Temp (C)
Month
April       7.009306
August     22.279301
December   -3.306317
February   -4.225000
January    -7.371505
July       22.790054
June       20.134028
March       3.121237
May        16.237769
November    0.931389
October    10.954973
September  16.484444

# ðŸ“Š Pandas `groupby()` - Complete Notes

## âœ… What is `groupby()` in Pandas? It is like SQL group by

- Group by  a specific column data for entier dataset columns 
The `groupby()` function is used to:
- **Split** the data into groups
- **Apply** a function (like `sum`, `mean`, etc.)
- **Combine** the results into a new DataFrame or Series

This is very useful when analyzing grouped or categorized data.

---

## ðŸ”§ Basic Syntax

```python
df.groupby('column_name')
df.groupby(['col1', 'col2'])  # for multiple groupings

In [42]:


mean_temparature_df2=weather_df.groupby(weather_df['Date/Time'].dt.month).mean(numeric_only=True).reset_index()
mean_temparature_df2

# .mean(numeric_only=True) means in the column all the mean will happen only for the numeric values columns 

# or specify the column that you want to print 

weather_df.groupby(weather_df['Wind Spd (km/h)']).mean(numeric_only=True)

,Temp (C),Dew Point Temp (C),Rel Hum (%),Visibility (km),Stn Press (kPa)
Wind Spd (km/h),,,,,
0,7.761165,2.840129,73.029126,25.539806,101.335340
2,3.500000,-3.100000,62.000000,17.700000,102.610000
4,7.022363,2.012869,72.833333,25.263080,101.438671
6,8.296552,2.860263,70.756979,27.200493,101.378473
7,8.838848,3.289808,70.487445,26.983752,101.307888
9,9.634096,3.680120,68.584337,27.754217,101.261675
11,10.163211,3.626802,66.405815,28.338812,101.186852
13,10.854014,4.054014,65.529252,28.190612,101.169782
15,10.500974,3.886370,66.382476,28.435466,101.065480
17,10.425676,3.830781,65.968468,28.942192,100.983649
19,8.745617,2.237662,66.285714,27.533279,100.909740
20,8.235887,1.516734,65.207661,28.676008,100.940665
22,8.602050,1.640774,64.480638,28.599089,100.813349
24,7.216310,0.389572,64.754011,28.996791,100.792834
26,6.313223,-0.761983,63.020661,29.699587,100.711653
28,6.358049,-0.611220,63.882927,28.165366,100.611073
30,6.350932,-0.700000,63.478261,27.929814,100.603789
32,4.798561,-1.305036,67.251799,26.234532,100.495252
33,5.690588,0.075294,69.047059,22.176471,100.206118
35,5.330189,0.003774,70.641509,21.477358,100.193774
37,5.066667,-0.088889,70.933333,23.582222,100.187778
39,3.408333,-0.916667,74.208333,18.404167,100.013333
41,5.413636,1.727273,78.863636,21.731818,99.635455
43,3.815385,-1.330769,70.153846,23.507692,99.854615
44,6.492857,1.628571,72.571429,22.928571,100.008571
46,1.572727,-1.172727,82.181818,15.854545,99.355455
48,6.053846,0.676923,69.923077,25.553846,99.707692
50,9.300000,2.875000,64.750000,30.825000,99.177500
52,5.014286,0.900000,75.142857,22.457143,99.817143
54,14.100000,10.000000,76.000000,25.000000,99.330000
57,2.080000,-5.420000,58.400000,29.480000,99.082000
63,5.000000,-5.000000,48.000000,48.300000,98.670000
70,0.500000,-4.000000,72.000000,25.000000,98.620000
83,3.700000,-2.100000,66.000000,25.000000,98.360000

# ðŸ”— Pandas - concat(), merge(), join()

In Pandas, you can combine multiple DataFrames using **concat**, **merge**, or **join** depending on the structure and logic.

---

## ðŸ”¶ 1. pd.concat()

### âž¤ Used to stack DataFrames **vertically or horizontally**
```python
pd.concat([df1, df2])                      # axis=0 (default), row-wise
pd.concat([df1, df2], axis=1)             # axis=1, column-wise

In [45]:
df1=pd.DataFrame({
     'A':['A0','A1','A2','A3'],
     'B':['B0','B1','B2','B3'],
     'C':['C0','C1','C2','C3'],
     'D':['D0','D1','D2','D3'],

},index=[0,1,2,3])
# Create df2
df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']
}, index=[4, 5, 6, 7])

# Create df3
df3 = pd.DataFrame({
    'A': ['A8', 'A9', 'A10', 'A11'],
    'B': ['B8', 'B9', 'B10', 'B11'],
    'C': ['C8', 'C9', 'C10', 'C11'],
    'E': ['D8', 'D9', 'D10', 'D11']
}, index=[8, 9, 10, 11])
# Create df4
df4 = pd.DataFrame([['A8', 'A9', 'A10', 'A11'],
                    ['B8', 'B9', 'B10', 'B11'],
                      ['C8', 'C9', 'C10', 'C11'],
                        ['D8', 'D9', 'D10', 'D11']
], index=[8, 9, 10, 11], columns=['x','Y','Z','A'])

In [ ]:
pd.concat([df1,df2,df3],axis=0)
# if you do'nt give azix then it will take as 0 means row 0 as default 
# | `axis=0` | Stack rows (vertical)    |
# | -------- | ------------------------ |
# | `axis=1` | Add columns (horizontal) |

      A    B    C    D    E
0    A0   B0   C0   D0  NaN
1    A1   B1   C1   D1  NaN
2    A2   B2   C2   D2  NaN
3    A3   B3   C3   D3  NaN
4    A4   B4   C4   D4  NaN
5    A5   B5   C5   D5  NaN
6    A6   B6   C6   D6  NaN
7    A7   B7   C7   D7  NaN
8    A8   B8   C8  NaN   D8
9    A9   B9   C9  NaN   D9
10  A10  B10  C10  NaN  D10
11  A11  B11  C11  NaN  D11

In [55]:
# df1.join(df2, how='left')
# df1.join(df2, how='right')
# df1.join(df2, how='inner')
# df1.join(df2, how='outer')

# : Join on a column (not index)

# df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Arjun', 'Karan']})
# df2 = pd.DataFrame({'ID': [1, 2], 'Marks': [85, 90]})

# # Set 'ID' as index for both to use join
# result = df1.set_index('ID').join(df2.set_index('ID'))


# ## ðŸ§  Syntax:
# ```python
# df1.join(df2)
# df1.join(df2, on='key_column', how='left')

In [ ]:
# index shuld be match for thr data farmes atleast one Index --> Join

left_df=pd.DataFrame({
     'A':['A0','A1','A2'],
     'B':['B0','B1','A3'],
     'E':['E1','E2','A4']
},index=['K0','K1','K2'])

right_df=pd.DataFrame({
     'C':['C0','C1','C3'],
     'D':['D0','D1','C5'],
     'E2':['E1','E2','C6']
},index=['K1','K2','K4'])

left_df.join(right_df,how='inner')

     A   B   E   C   D  E2
K1  A1  B1  E2  C0  D0  E1
K2  A2  A3  A4  C1  D1  E2

# ðŸ”— pandas `merge()` â€“ Table Join Based on Columns

## âœ… What is `merge()`?
`merge()` is used to combine two DataFrames based on one or more **columns (keys)**, just like SQL joins.

---

## ðŸ§  Important Rule:
ðŸ‘‰ At least one **column should be common** (key) in both DataFrames  
(Unlike `join()`, which requires matching **index**)

---

## ðŸ”§ Syntax:
```python
pd.merge(df1, df2, on='key_column', how='inner')
pd.merge(df1, df2, on=['key1', 'key2'], how='outer')
here also we will use left right inner and outer join

In [67]:
# First DataFrame
df1 = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
},index=[1,2,3,4])

# Second DataFrame
df2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K1', 'K0'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
},index=[5,6,7,8])

In [69]:
pd.merge(df1,df2,on=['key1','key2'],how='inner')

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1