In [15]:
import pandas as pd
import json

jsonStr={ "Index0":{"Courses":"Pandas0","Discount":"12001"},
         "Index1":{"Courses":"Pandas1","Discount":"12002"},
         "Index2":{"Courses":"Pandas2","Discount":"12003"},


}
json_data = json.dumps(jsonStr)

df2=pd.read_json(json_data,orient='index')
print(df2)

df2.to_json("Output.json",orient='columns')

        Courses  Discount
Index0  Pandas0     12001
Index1  Pandas1     12002
Index2  Pandas2     12003

C:\Users\ACER\AppData\Local\Temp\ipykernel_15244\2576542546.py:12: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df2=pd.read_json(json_data,orient='index')

In [ ]:
# fetch data from json file 

df3=pd.read_json("titanic-parquet.json",lines=True)
print(df3)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500  None        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250  None        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500  None        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000  None        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500  None        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500  None        Q

[891 rows x 12 columns]

-- csv Comma Seperated Values

In [ ]:
df_csv=