In [12]:
import pandas as pd
import numpy as np
weather_df=pd.read_csv("weather_2012.csv")

# Pivot Table in Pandas

A **pivot table** is a data summarization tool used to reorganize and aggregate data, which is extremely useful for analyzing large datasets.

## Creating a Pivot Table in Pandas

To create a pivot table in Pandas, we use the `pivot_table()` function.

### Syntax:
```python
pandas.pivot_table(data, 
                   values=None, 
                   index=None, 
                   columns=None, 
                   aggfunc='mean', 
                   fill_value=None, 
                   margins=False, 
                   margins_name='All')

In [13]:
data={
     'A': ['foo','foo','foo','bar','bar','bar'],
     'B': ['one','one','two','two','one','one'],
     'C': ['x','y','x','y','x','y'],
     'D': [1,3,2,5,4,1]
     }
df=pd.DataFrame(data)

# print(df.describe())
print(df)

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [14]:
#pivot table mainly do some kind of aggregate Operation  top of the table that is the use for the pivot table 
pivot_df = pd.pivot_table(
    df,
    values='D',
    index='A',
    columns='C',
    aggfunc=np.sum
)
print(pivot_df)

C    x  y
A
bar  4  6
foo  3  3

/tmp/ipykernel_1813/2624656864.py:2: FutureWarning: The provided callable <function sum at 0x722fc86d0220> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_df = pd.pivot_table(

what is mean temp recorded by month

In [15]:
# print(weather_df['Weather'])
# mean_temp_df=pd.pivot_table(weather_df,
#                             values='Temp (C)',
#                             index=weather_df['Date/Time'].dt.month,
#                          #    dt.month is date and time operation in pandas one type od specific function 
#                          aggfunc=np.mean

#                             )
weather_df['Date/Time']=pd.to_datetime(weather_df['Date/Time'])
# need to convert it from a series to a date time column 

weather_df['Month'] = weather_df['Date/Time'].dt.month_name()

mean_temp_df = pd.pivot_table(
    weather_df,
    values='Temp (C)',
    index='Month',              # Use the new column name, not a Series
    aggfunc="mean")

print(mean_temp_df)

            Temp (C)
Month
April       7.009306
August     22.279301
December   -3.306317
February   -4.225000
January    -7.371505
July       22.790054
June       20.134028
March       3.121237
May        16.237769
November    0.931389
October    10.954973
September  16.484444

# ðŸ“Š Pandas `groupby()` - Complete Notes

## âœ… What is `groupby()` in Pandas? It is like SQL group by

- Group by  a specific column data for entier dataset columns 
The `groupby()` function is used to:
- **Split** the data into groups
- **Apply** a function (like `sum`, `mean`, etc.)
- **Combine** the results into a new DataFrame or Series

This is very useful when analyzing grouped or categorized data.

---

## ðŸ”§ Basic Syntax

```python
df.groupby('column_name')
df.groupby(['col1', 'col2'])  # for multiple groupings

In [16]:


# mean_temparature_df2=weather_df.groupby(weather_df['Date/Time'].dt.month).mean(numeric_only=True).reset_index()
# mean_temparature_df2

# .mean(numeric_only=True) means in the column all the mean will happen only for the numeric values columns 

# or specify the column that you want to print 

weather_df.groupby(weather_df['Wind Spd (km/h)']).mean(numeric_only=True)
weather_df.groupby(weather_df['Date/Time']).max(numeric_only=True)

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa)
Date/Time,,,,,,
2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24
2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24
2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26
2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27
2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23
...,...,...,...,...,...,...
2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13
2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03
2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95
2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91
2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89

# ðŸ”— Pandas - concat(), merge(), join()

In Pandas, you can combine multiple DataFrames using **concat**, **merge**, or **join** depending on the structure and logic.

---

## ðŸ”¶ 1. pd.concat()

### âž¤ Used to stack DataFrames **vertically or horizontally**
```python
pd.concat([df1, df2])                      # axis=0 (default), row-wise
pd.concat([df1, df2], axis=1)             # axis=1, column-wise

In [17]:
df1=pd.DataFrame({
     'A':['A0','A1','A2','A3'],
     'B':['B0','B1','B2','B3'],
     'C':['C0','C1','C2','C3'],
     'D':['D0','D1','D2','D3'],

},index=[0,1,2,3])
# Create df2
df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']
}, index=[4, 5, 6, 7])

# Create df3
df3 = pd.DataFrame({
    'A': ['A8', 'A9', 'A10', 'A11'],
    'B': ['B8', 'B9', 'B10', 'B11'],
    'C': ['C8', 'C9', 'C10', 'C11'],
    'E': ['D8', 'D9', 'D10', 'D11']
}, index=[8, 9, 10, 11])
# Create df4
df4 = pd.DataFrame([['A8', 'A9', 'A10', 'A11'],
                    ['B8', 'B9', 'B10', 'B11'],
                      ['C8', 'C9', 'C10', 'C11'],
                        ['D8', 'D9', 'D10', 'D11']
], index=[8, 9, 10, 11], columns=['x','Y','Z','A'])

In [24]:
pd.concat([df1,df2,df3],axis=0)
# if you do'nt give azix then it will take as 0 means row 0 as default 
# | `axis=0` | Stack rows (vertical)    |
# | -------- | ------------------------ |
# | `axis=1` | Add columns (horizontal) |

   key1 key2    A    B    C    D    E
1    K0   K0   A0   B0  NaN  NaN  NaN
2    K0   K1   A1   B1  NaN  NaN  NaN
3    K1   K0   A2   B2  NaN  NaN  NaN
4    K2   K1   A3   B3  NaN  NaN  NaN
5    K0   K0  NaN  NaN   C0   D0  NaN
6    K1   K0  NaN  NaN   C1   D1  NaN
7    K1   K1  NaN  NaN   C2   D2  NaN
8    K2   K0  NaN  NaN   C3   D3  NaN
8   NaN  NaN   A8   B8   C8  NaN   D8
9   NaN  NaN   A9   B9   C9  NaN   D9
10  NaN  NaN  A10  B10  C10  NaN  D10
11  NaN  NaN  A11  B11  C11  NaN  D11

In [19]:
# df1.join(df2, how='left')
# df1.join(df2, how='right')
# df1.join(df2, how='inner')
# df1.join(df2, how='outer')

# : Join on a column (not index)

# df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Arjun', 'Karan']})
# df2 = pd.DataFrame({'ID': [1, 2], 'Marks': [85, 90]})

# # Set 'ID' as index for both to use join
# result = df1.set_index('ID').join(df2.set_index('ID'))


# ## ðŸ§  Syntax:
# ```python
# df1.join(df2)
# df1.join(df2, on='key_column', how='left')

In [20]:
# index shuld be match for thr data farmes atleast one Index --> Join

left_df=pd.DataFrame({
     'A':['A0','A1','A2'],
     'B':['B0','B1','A3'],
     'E':['E1','E2','A4']
},index=['K0','K1','K2'])

right_df=pd.DataFrame({
     'C':['C0','C1','C3'],
     'D':['D0','D1','C5'],
     'E2':['E1','E2','C6']
},index=['K1','K2','K4'])

left_df.join(right_df,how='inner')

     A   B   E   C   D  E2
K1  A1  B1  E2  C0  D0  E1
K2  A2  A3  A4  C1  D1  E2

# ðŸ”— pandas `merge()` â€“ Table Join Based on Columns

## âœ… What is `merge()`?
`merge()` is used to combine two DataFrames based on one or more **columns (keys)**, just like SQL joins.

---

## ðŸ§  Important Rule:
ðŸ‘‰ At least one **column should be common** (key) in both DataFrames  
(Unlike `join()`, which requires matching **index**)

---

## ðŸ”§ Syntax:
```python
pd.merge(df1, df2, on='key_column', how='inner')
pd.merge(df1, df2, on=['key1', 'key2'], how='outer')
here also we will use left right inner and outer join

In [21]:
# First DataFrame
df1 = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
},index=[1,2,3,4])

# Second DataFrame
df2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K1', 'K0'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
},index=[5,6,7,8])

In [22]:
pd.merge(df1,df2,on=['key1','key2'],how='inner')

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1