In [2]:
import pandas as pd
import numpy as np
weather_df=pd.read_csv("weather_2012.csv")

Date and Time Mainly 
# Object means if any data is not specified to int or char str etc. then it need to be object

In [3]:
# Convert String to Date and Time 
df =pd.DataFrame({'Date':['2025-08-04','2021-09-04','2025-08-08'],
                  'Value':[2,3,4]
                  })
print(df,"\n")
print(df.info())

# Now if you see here Data Clumn is a Object column so we should convert this in date time format
# Object means if any data is not specified to int or char str etc. then it need to be object

         Date  Value
0  2025-08-04      2
1  2021-09-04      3
2  2025-08-08      4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
 1   Value   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes
None

In [4]:
# df['Date']=pd.to_datetime(df['Date']) Data Should be in YYYY-MM-DD format otherwise need to use ,df['col1'], error='coerce'
# df['Date']=pd.to_datetime(df['Date'],errors='coerce')
df['Date']=pd.to_datetime(df['Date'])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      datetime64[ns]
 1   Value   3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 180.0 bytes
None

In [9]:
#  dummy Test
df1=pd.DataFrame({'Name':['Debajit','Subha'],'DOB':['2001-11-06','10-2002-27']})
print(df1.info())

df1['DOB']=pd.to_datetime(df1['DOB'],errors='coerce')
print(df1)
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2 non-null      object
 1   DOB     2 non-null      object
dtypes: object(2)
memory usage: 164.0+ bytes
None
      Name        DOB
0  Debajit 2001-11-06
1    Subha        NaT
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2 non-null      object
 1   DOB     1 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 164.0+ bytes
None

In [12]:
# For a Specific Date or month or YYYY how i will get from the data frame 
print(df1['DOB'].dt.year)
print(df1['DOB'].dt.month)

0    2001.0
1       NaN
Name: DOB, dtype: float64
0    11.0
1     NaN
Name: DOB, dtype: float64

In [ ]:
people_data=pd.read_csv("people-100.csv",parse_dates=['Date of birth'])
# print(people_data.head(10))
# print(people_data.info()) # -- here Date of Birth is Date and time col not object 
#  

# Using parse_dates=['DOB Col Name'] we defined during read of the CSV

   Index          User Id First Name Last Name     Sex  \
0      1  88F7B33d2bcf9f5     Shelby   Terrell    Male
1      2  f90cD3E76f1A9b9    Phillip   Summers  Female
2      3  DbeAb8CcdfeFC2c   Kristine    Travis    Male
3      4  A31Bee3c201ef58    Yesenia  Martinez    Male
4      5  1bA7A3dc874da3c       Lori      Todd    Male
5      6  bfDD7CDEF5D865B       Erin       Day    Male
6      7  bE9EEf34cB72AF7  Katherine      Buck  Female
7      8  2EFC6A4e77FaEaC    Ricardo    Hinton    Male
8      9  baDcC4DeefD8dEB       Dave   Farrell    Male
9     10  8e4FB470FE19bF0     Isaiah     Downs    Male

                         Email                   Phone Date of birth  \
0         elijah57@example.net  001-084-906-7849x73518    1945-10-26
1        bethany14@example.com       214.112.6044x4913    1910-03-24
2        bthompson@example.com            277.609.7938    1992-07-02
3    kaitlinkaiser@example.com            584.094.6111    2017-08-03
4   buchananmanuel@example.net       689-207-3558x7233    1938-12-01
5          tconner@example.org   001-171-649-9856x5553    2015-10-28
6      conniecowan@example.com   +1-773-151-6685x49162    1989-01-22
7      wyattbishop@example.com  001-447-699-7998x88612    1924-03-26
8          nmccann@example.net      603-428-2429x27392    2018-10-06
9  virginiaterrell@example.org    +1-511-372-1544x8206    1964-09-20

                  Job Title
0           Games developer
1            Phytotherapist
2                 Homeopath
3         Market researcher
4        Veterinary surgeon
5  Waste management officer
6      Intelligence analyst
7            Hydrogeologist
8                    Lawyer
9            Engineer, site
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          100 non-null    int64
 1   User Id        100 non-null    object
 2   First Name     100 non-null    object
 3   Last Name      100 non-null    object
 4   Sex            100 non-null    object
 5   Email          100 non-null    object
 6   Phone          100 non-null    object
 7   Date of birth  100 non-null    datetime64[ns]
 8   Job Title      100 non-null    object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 7.2+ KB
None